<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" href="images/icons/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="container">
    <% if (account === null) { %>
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="jumbotron">
                <h1 class="display-3">Log into the TEDxGT admin portal!</h1>
                <p class="lead">Enter your credentials below, or request an account with your name, email, and intended use using the button provided.</p>
                <p class="lead">
                    <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#newAccount">Request account</button>
                </p>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="usernameField">Username</label>
                    <input type="text" class="form-control" id="usernameField" placeholder="username" name="username">
                </div>
                <div class="form-group">
                    <label for="passwordField">Password</label>
                    <input type="password" class="form-control" placeholder="password" id="passwordField" name="password">
                </div>
                <div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="newAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New account request</h4>
                </div>
                <div class="modal-body">
                    <form id="requestAccountForm" data-toggle="validator" role="form">
                        <div class="form-group">
                            <label for="inputName" class="control-label">Name</label>
                            <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="inputUsername" class="control-label">Username</label>
                            <input type="text" class="form-control" id="inputUsername" name="username" placeholder="username" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" data-error="That email address is invalid" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="control-label">Password</label>
                            <div class="form-inline row">
                                <div class="form-group col-sm-6">
                                    <input type="password" name="password" data-minlength="10" class="form-control" id="inputPassword" placeholder="Password" required>
                                    <div class="help-block">Minimum of 10 characters</div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="passwords don't match" placeholder="Confirm Password" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="submit-button" class="btn btn-danger" data-loading-text="Sending...">Send request</button>
                </div>
            </div>
        </div>
    </div>
    <% } else if (account.approved === false || account.approved === null) { %>
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 col-lg-offset-2">
            <p class="lead">Your account has not yet been approved by an administrator. If you believe this is in error, please email <a href="mailto:tedxgeorgiatech@gmail.com">TEDxGeorgiaTech</a> with a description of your case.</p>
        </div>
    </div>
    <% } else { %>
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="/adminPortal" class="btn btn-lg btn-danger">Continue to admin portal</a>
        </div>
    </div>
    <% }%>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.8/validator.min.js"></script>
<script src="js/moment.js"></script>
<script>
    $('#submit-button').on('click', function(e){
        e.preventDefault();
        var $btn = $(this).button('loading');
        var postingData = {
            name: $('#inputName').val(),
            email: $('#inputEmail').val(),
            password: $('#inputPassword').val(),
            username: $('#inputUsername').val()
        };
        console.log("POSTED DATA: " + postingData);
        $.post("/requestAccount", postingData, function(data) {
            $btn.button('reset');
            $('#newAccount').modal('hide');
        });
    });
</script>

</body>
</html>