<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TEDxGeorgiaTech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TEDxGeorgia Tech Conference information website." />
    <meta name="keywords" content="ted, tedx, georgia tech, gt, gatech" />
    <meta name="author" content="TEDxGeorgiaTech" />

    <link rel="shortcut icon" href="/images/icons/favicon.png">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="TEDxGeorgiaTech 2016-2017" />
    <meta property="og:image" content="/images/stickers.jpg" />
    <meta property="og:url" content="http://tedxgeorgiatech.com" />
    <meta property="og:site_name" content="TEDxGeorgiaTech" />
    <meta property="og:description" content="TEDxGeorgiaTech Official Website" />
    <meta name="twitter:title" content="TEDxGeorgiaTech 2017-18" />
    <meta name="twitter:image" content="/images/stickers.jpg" />
    <meta name="twitter:url" content="http://tedxgeorgiatech.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@TEDxGeorgiaTech">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/css/simple-line-icons.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" href="/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/css/jquery.fancybox-thumbs.css">

    <link rel="stylesheet" href="/css/red.css">

    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
<!--  -->
</head>

<body>
<header id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a style="font-family:helvetica;" class="navbar-brand" href="#" data-nav-section="home">TEDxGeorgiaTech</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-nav-section="about"><span>About</span></a></li>
                    <li><a href="#" data-nav-section="events"><span>Events</span></a></li>
                    <!-- <li><a href="#" data-nav-section="team"><span>Our Team</span></a></li> -->
                    <!--<li><a href="#" data-nav-section="past"><span>Past Speakers</span></a></li>-->
                    <li><a href="#" data-nav-section="sponsors"><span>Sponsors</span></a></li>
                    <li><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>

<div id="slider" data-section="home">
    <div class="owl-carousel owl-carousel-fullwidth">
        <div class="item" style="background-image:url(/images/tedxsalon/IMG_0921.jpg)">
            <div class="overlay"></div>
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead to-animate">Want to hear more about TEDxGeorgiaTech 2018?</h1>
                                <h2 class="fh5co-sub-lead to-animate">Check out the Facebook event for updates!</h2>
                                <p class="to-animate-2"><a href="https://www.facebook.com/events/521775804868121/" class="btn btn-primary btn-lg">I'm in!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(/images/tedxsalon/IMG_1005.jpg)">
            <div class="overlay"></div>
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead to-animate">Love TEDxGeorgiaTech and want to help with outreach?</h1>
                                <p class="to-animate-2"><a href="https://goo.gl/forms/bV3xLpK23Jj7UfxB2" class="btn btn-primary btn-lg">Join our advisory board!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(/images/teampic2017.jpg)">
            <div class="overlay"></div>
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead to-animate">Check out our events from last year!</h1>
                                <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg" data-nav-section="events">Let me see!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(/images/board.jpg)">
            <div class="overlay"></div>
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead to-animate">What is TEDx?</h1>
                                <h2 class="fh5co-sub-lead to-animate">Learn who we are and what we are all about!</h2>
                                <p class="to-animate-2"><a href="#" data-nav-section="about" class="btn btn-primary btn-lg">About Us</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(/images/x.jpg)">
            <div class="overlay"></div>
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead to-animate">Check us out on social media!</h1>
                                <h2 class="fh5co-sub-lead to-animate">Keep up to date with all of the latest news about our events!</h2>
                                <p class="to-animate-2"><a href="https://twitter.com/TEDxGeorgiaTech" class="btn btn-primary btn-lg">Twitter</a></p>
                                <p class="to-animate-2"><a href="https://www.facebook.com/TEDxGeorgiaTech" class="btn btn-primary btn-lg">Facebook</a></p>
                                <p class="to-animate-2"><a href="https://www.instagram.com/tedxgt" class="btn btn-primary btn-lg">Instagram</a></p>
                                <p class="to-animate-2"><a href="https://www.flickr.com/photos/90459427@N02/" class="btn btn-primary btn-lg">Flickr</a></p>
                                <p class="to-animate-2"><a href="https://www.linkedin.com/company/27183099/" class="btn btn-primary btn-lg">LinkedIn</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-about-us" data-section="about">
    <div class="container">
        <div class="row row-bottom-padded-sm" id="about-us">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">ABOUT</h2>
                <h3>What is TED?</h3>
                <p>TED is committed to Ideas Worth Spreading. Each talk features fascinating ideas that demand to be heard. From scientific breakthroughs to inspiring human stories, TEDTalks has them all.</p>
                <h3>What is TEDxGeorgiaTech?</h3>
                <p>TEDxGeorgiaTech is an independently organized TEDx event in Atlanta, Georgia. We are proud to be run entirely by student volunteers. Our goal is to showcase ideas from our own community that inspire change on Georgia Tech campus and beyond.</p>
                <h3>How can I get involved?</h3>
                <p>Applications for the organizing team open every August and are currently closed. However, if you're a member of the Atlanta community, you can <a href="https://docs.google.com/forms/d/e/1FAIpQLSdTDMoyXvnrGhCcqTqDw7jq0h6XSZPDFYzrn3FXcoXxByxLbg/viewform">join our advisory board</a>!</p>
                <h3>When are TEDxGeorgiaTech events?</h3>
                <p>Our first event of the year, 2017's Student Speaker Salon, will be on November 7, 2017! Other events for 2017-18 are still in the works. Check back here later for more information!</p>
                <h3>How can I give a talk?</h3>
                <p>Apply to be a speaker at TEDxGeorgiaTech 2018 <a href="https://goo.gl/forms/nECuastmc1btT93A2">here</a>!</a></p>
                <h3>How can I stay updated?</h3>
                <p>Check us out on <a href="https://www.facebook.com/TEDxGeorgiaTech/?fref=ts">Facebook</a>, follow us on <a href="https://twitter.com/TEDxGeorgiaTech">Twitter</a>, <a href="https://instagram.com/tedxgt">Instagram</a>, <a href="https://www.flickr.com/photos/90459427@N02/">Flickr</a>, or view our previous talks on <a href="https://tedx.com/">TEDx.com</a>!</p>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-our-events" data-section="events">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">EVENTS</h2>
                <div class="row">
                    <div id="event-id-0" class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h2 style="padding-top:30px;">2017 Student Speaker Salon</h2>
                        <h3>Want to relive a night of authenticity, vulnerability, empowerment, and actionable passion? Check out the event photos at the link below, and keep an eye on this space for links to the talks!</h3>
                        <p><a class="btn" style="background:#e62b1e; color:rgba(255,255,255,0.7); margin-bottom:35px;" target="_blank" href="https://flic.kr/s/aHsm6sgBtb">Images</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <!--<a href="https://www.youtube.com/watch?v=I6S9T3Hlss0" class="fancybox-media" data-fancybox-group="2017 Conf Videos">-->
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/andrew-hanus.jpg" width="100" alt="Person"></span></div>
                                <h3>Andrew Hanus</h3>
                                <p>LIFE LESSONS FROM A MILITARY WORKING DOG</p>
                            <!--</a>-->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <!--<a href="https://www.youtube.com/watch?v=I6S9T3Hlss0" class="fancybox-media" data-fancybox-group="2017 Conf Videos">-->
                            <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/karima-alkhalid.jpg" width="100" alt="Person"></span></div>
                            <h3>Karima Alkhalid</h3>
                            <p>BELONGING TO EACH OTHER: THE POWER OF EMPATHY TO TRANSCEND OUR (SILOED) GROUPS</p>
                            <!--</a>-->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <!--<a href="https://www.youtube.com/watch?v=I6S9T3Hlss0" class="fancybox-media" data-fancybox-group="2017 Conf Videos">-->
                            <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/will-courreges-clercq.jpg" width="100" alt="Person"></span></div>
                            <h3>Will Courrèges-Clercq</h3>
                            <p>CHANGE 1% TO CHANGE THE WORLD</p>
                            <!--</a>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <!--<a href="https://www.youtube.com/watch?v=I6S9T3Hlss0" class="fancybox-media" data-fancybox-group="2017 Conf Videos">-->
                            <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/suraj-sehgal.jpg" width="100" alt="Person"></span></div>
                            <h3>Suraj Sehgal</h3>
                            <p>SCREW HAPPINESS</p>
                            <!--</a>-->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <!--<a href="https://www.youtube.com/watch?v=I6S9T3Hlss0" class="fancybox-media" data-fancybox-group="2017 Conf Videos">-->
                            <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/azra-ismail.jpg" width="100" alt="Person"></span></div>
                            <h3>Azra Ismail</h3>
                            <p>TECHNOLOGY IS THE ANSWER. BUT WHAT WAS THE QUESTION?</p>
                            <!--</a>-->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <!--<a href="https://www.youtube.com/watch?v=I6S9T3Hlss0" class="fancybox-media" data-fancybox-group="2017 Conf Videos">-->
                            <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/indra-sofian.jpg" width="100" alt="Person"></span></div>
                            <h3>Indra Sofian</h3>
                            <p>OVERCOMING PERSONAL INERTIA</p>
                            <!--</a>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 subtext to-animate" data-section="techx">
                                <h2 style="padding-top:30px;">TEDxGeorgiaTech 2017</h2>
                                <h3>Our annual conference was a massive success!<br/>Check out the speakers and photos from the event below.</h3>
                                <p><a class="btn" style="background:#e62b1e; color:rgba(255,255,255,0.7);" target="_blank" href="https://flic.kr/s/aHskUFY83c">Images</a></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=I6S9T3Hlss0" class="fancybox-media" data-fancybox-group="2017 Conf Videos">
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/kamesh.jpg" width="100" alt="Person"></span></div>
                                <h3>Kamesh Darisipudi</h3>
                                <p>WHY I USED TO HATE ROLL CALL</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=AaJVq-dUxMw" class="fancybox-media" data-fancybox-group="2017 Conf Videos">
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/malek.jpg" width="100" alt="Person"></span></div>
                                <h3>Malek Jandali</h3>
                                <p>THE POWER OF MUSIC</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=duSFrKOy-tc" class="fancybox-media" data-fancybox-group="2017 Conf Videos">
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/katherinejentleson.jpg" width="100" alt="Person"></span></div>
                                <h3>Katherine Jentleson</h3>
                                <p>WHERE DOES GREAT ART COME FROM?</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=qz6dGDNaNmA" class="fancybox-media" data-fancybox-group="2017 Conf Videos">
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/deirdre.jpg" width="100" alt="Person"></span></div>
                                <h3>Deirdre Shoemaker</h3>
                                <p>WRINKLES AND RIPS IN SPACETIME</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=I9LKXkrw4RA" class="fancybox-media" data-fancybox-group="2017 Conf Videos">
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/edward.jpg" width="100" alt="Person"></span></div>
                                <h3>Edward Ahmed Mitchell</h3>
                                <p>THE END OF ISLAMAPHOBIA</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=M-KEJGgaNZE" class="fancybox-media" data-fancybox-group="2017 Conf Videos">
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/joyjinks.jpg" width="100" alt="Person"></span></div>
                                <h3>Joy Jinks</h3>
                                <p>YOU CAN'T MAKE THIS STUFF UP</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 subtext to-animate" data-section="techx">
                                <h2 style="padding-top:30px;">2016 Student Speaker Salon</h2>
                                <h3>Our student speaker event last year was a hit!<br/>Check out the speakers below, and view the photos from the event.</h3>
                                <p><a class="btn fancybox-thumb" style="background:#e62b1e; color:rgba(255,255,255,0.7);" href="/images/studentspeakersalon/IMG_3633.jpg" data-fancybox-group="StudentSpeakerSalon">Images</a>
                                </p>

                                <div style="display: none">
                                    <a href="/images/studentspeakersalon/IMG_3633.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3634.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3635.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3643.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3659.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3664.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3671.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3687.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3695.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3715.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3719.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3730.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3742.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3752.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3789.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3797.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3803.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3807.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3815.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3829.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3833.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3853.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3858.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3859.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3860.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3861.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                    <a href="/images/studentspeakersalon/IMG_3862.jpg" class="fancybox-thumb" data-fancybox-group="StudentSpeakerSalon"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=I6S9T3Hlss0" class="fancybox-media" data-fancybox-group="2017 Conf Videos">
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/kamesh.jpg" width="100" alt="Person"></span></div>
                                <h3>Kamesh Darisipudi</h3>
                                <p>WHY I USED TO HATE ROLL CALL</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=_919VEj0HTM&feature=youtu.be" class="fancybox-media" data-fancybox-group="SSS Videos">
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/seth.jpg" width="100" alt="Person"></span></div>
                                <h3>Seth Radman</h3>
                                <p>START BEFORE YOU'RE READY</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=e5fj1Xx-x2E" class="fancybox-media" data-fancybox-group="SSS Videos">
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/kendall.jpg" width="100" alt="Person"></span></div>
                                <h3>Kendall Rankin</h3>
                                <p>WHY IT'S IMPORTANT TO CHECK YOUR PRIVILEGE AT THE DOOR</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=VmBexl1DW1g" class="fancybox-media" data-fancybox-group="SSS Videos">
                                <div class="icon"><span><img style="border-radius: 50%;" src="/images/speakers/priyesh.jpg" width="100" alt="Person"></span></div>
                                <h3>Priyesh Dimitri Perera</h3>
                                <p>WAKING UP TO THE POST-TRUTH ERA</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 subtext to-animate" data-section="techx">
                                <h2 style="padding-top:30px;">TEDxGeorgiaTech Salon</h2>
                                <h3>Our first salon event was a blast!<br/>Click the speakers below to check out their talks, and view the photos from the event.</h3>
                                <p><a class="btn fancybox-thumb" style="background:#e62b1e; color:rgba(255,255,255,0.7);" href="/images/tedxsalon/IMG_0810.jpg" data-fancybox-group="TEDxGTSalon">Images</a>
                                    </p>

                                <div style="display: none">
                                    <a href="/images/tedxsalon/IMG_0810.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0811.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0812.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0813.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0822.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0823.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0824.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0825.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0826.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0827.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0832.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0833.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0834.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0838.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0840.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0841.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0843.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0844.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0846.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0848.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0850.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0852.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0853.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0858.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0861.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0866.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0868.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0869.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>

                                    <a href="/images/tedxsalon/IMG_0870.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0875.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0876.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0880.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0882.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0883.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0884.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0886.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0893.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0897.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0898.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0899.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0902.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0904.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0909.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0921.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0925.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0930.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0951.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0961.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0963.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0964.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0985.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0987.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_0989.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_1002.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_1005.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_1006.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                    <a href="/images/tedxsalon/IMG_1023.jpg" class="fancybox-thumb" data-fancybox-group="TEDxGTSalon"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-3">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=Wbs2oO6S2qk" class="fancybox-media" data-fancybox-group="TEDxGT Salon Videos">
                                <div class="icon"><span><img src="/images/speakers/janeewe.png" width="100" alt="Person"></span></div>
                                <h3>Jane Ewe</h3>
                                <p>ENTREPRENEURIAL LIFE</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="box to-animate">
                            <a href="https://www.youtube.com/watch?v=khRkIVPa1Vc" class="fancybox-media" data-fancybox-group="TEDxGT Salon Videos">
                                <div class="icon"><span><img src="/images/speakers/jenniferleavey.png" width="100" alt="Person"></span></div>
                                <h3>Jennifer Leavey</h3>
                                <p>POLLINATION: THE DELICATE BALANCE BETWEEN BEES AND FLOWERS</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h2 style="padding-top:30px;">TEDxGeorgiaTech 2016</h2>
                        <h3><span style="color:#444">Raise Your Ideas to the Next Power</span><br/>
                            Relive the event by clicking on the speakers and buttons below.</h3>
                        <p><a class="btn" style="background:#e62b1e; color:rgba(255,255,255,0.7);" target="_blank" href="https://flic.kr/s/aHskyJBbsV">Images</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=IWhoFJ7Lio4" class="fancybox-media" data-fancybox-group="TEDx Videos">
                        <div class="icon"><span><img src="images/speakers/kamal.png" width="100" alt="Person"></span></div>
                        <h3>Kamal Grant</h3>
                        <p>FIELD OF DOUGHNUTS DREAMS</p>
                        <br/>
                    </a>
                </div>
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=GR3J_atniLM" class="fancybox-media" data-fancybox-group="TEDx Videos">
                        <div class="icon"><span><img src="images/speakers/mihir.png" width="100" alt="Person"></span></div>
                        <h3>Mihir Parshionikar</h3>
                        <p>WHAT WE CAN LEARN FROM REEVALUATING MUSICAL COMPLEXITY</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=YDKQK8DGZTQ" class="fancybox-media" data-fancybox-group="TEDx Videos">
                        <div class="icon"><span><img src="images/speakers/soleen.png" width="100" alt="Person"></span></div>
                        <h3>Soleen + Kurdeen Karim</h3>
                        <p>THE IMPLICATIONS OF REFUGEE AID IN A BOX</p>
                        <br/>
                    </a>
                </div>
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=nbOFJus1wXM" class="fancybox-media" data-fancybox-group="TEDx Videos">
                        <div class="icon"><span><img src="images/speakers/danish.png" width="100" alt="Person"></span></div>
                        <h3>Danish Kurani</h3>
                        <p>DESIGNING PLACES FOR LEARNING</p>
                        <br/>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=9mLIF1a0ANY" class="fancybox-media" data-fancybox-group="TEDx Videos">
                        <div class="icon"><span><img src="images/speakers/zl.png" width="100" alt="Person"></span></div>
                        <h3>Dr. Z.L. Wang</h3>
                        <p>NANOGENERATORS - FOR MICRO- TO MEGA-SCALE ENERGY HARVESTING</p>
                    </a>
                </div>
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=wawxWR5O9ms" class="fancybox-media" data-fancybox-group="TEDx Videos">
                        <div class="icon"><span><img src="images/speakers/lois.png" width="100" alt="Person"></span></div>
                        <h3>Lois Reitzes</h3>
                        <p>SIGNAL STRENGTH: MY LIFE IN PUBLIC RADIO</p>
                        <br/>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=vH2xrmFXQGY" class="fancybox-media" data-fancybox-group="TEDx Videos">
                        <div class="icon"><span><img src="images/speakers/ulrika.png" width="100" alt="Person"></span></div>
                        <h3>Ulrika Lindstrom</h3>
                        <p>THE JOURNEY OF AN INDEPENDENT POP ARTIST</p>
                        <br/>
                    </a>
                </div>
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=aV4qL8ffBto" class="fancybox-media" data-fancybox-group="TEDx Videos">
                        <div class="icon"><span><img src="images/speakers/jeff.png" width="100" alt="Person"></span></div>
                        <h3>Jeff Heck</h3>
                        <p>GO SMALL OR GO HOME</p>
                        <br/>
                        <br/>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate" data-section="techx">
                        <h2 style="padding-top:30px;">TECHx Student Speaker Series</h2>
                        <h3>TECHx was a big hit!<br/>Click the speakers below to check out their talks and click the links for pictures and a video.</h3>
                        <p><a class="btn fancybox-thumb" style="background:#e62b1e; color:rgba(255,255,255,0.7);" href="/images/techx/img_0850.jpg" data-fancybox-group="techx">Images</a>
                            <a class="btn fancybox-media" style="background:#e62b1e; color:rgba(255,255,255,0.7);" target="_blank" href="https://www.youtube.com/watch?v=niRm7E2jJ5c">Video</a></p>

                        <div style="display: none">
                            <a href="/images/techx/img_0878.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0889.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0902.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0914.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0919.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0920.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0921.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0925.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0927.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0939.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0943.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0965.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0969.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0972.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_0984.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1000.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1001.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1007.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1013.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1014.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1033.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1038.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1054.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1061.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1064.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1068.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1073.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1075.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1078.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1079.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1081.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1082.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1083.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1084.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1085.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1087.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1089.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1092.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1093.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1094.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1097.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1098.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1099.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1101.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1102.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1104.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1106.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1112.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1115.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1119.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1121.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1130.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1134.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1143.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1148.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1154.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1156.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1158.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1159.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1166.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1167.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1168.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1172.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1185.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1188.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1190.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1192.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1196.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1198.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1217.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1218.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1220.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1222.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1226.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1227.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1230.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1230.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1235.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1238.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1239.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1249.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1256.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1259.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                            <a href="/images/techx/img_1260.jpg" class="fancybox-thumb" data-fancybox-group="techx"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=SQNtmQwJ5ps" class="fancybox-media" data-fancybox-group="TECHx Videos">
                        <div class="icon"><span><img src="images/speakers/mihir.png" width="100" alt="Person"></span></div>
                        <h3>Mihir Parshionikar</h3>
                        <p>WHAT WE CAN LEARN FROM LOST COMPLEXITY IN POP MUSIC</p>
                    </a>
                </div>
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=eTp_Ns45pWA" class="fancybox-media" data-fancybox-group="TECHx Videos">
                        <div class="icon"><span><img src="images/speakers/jeremiah.png" width="100" alt="Person"></span></div>
                        <h3>Jeremiah Robertson</h3>
                        <p>CONTROLLING THE WEATHER WITH A TWIST</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=eI5WdQUXL3c" class="fancybox-media" data-fancybox-group="TECHx Videos">
                        <div class="icon"><span><img src="images/speakers/ambar.png" width="100" alt="Person"></span></div>
                        <h3>Ambar Johnson</h3>
                        <p>AN INVESTMENT IN SIDEWALKS IS AN INVESTMENT IN PEOPLE</p>
                    </a>
                </div>
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=ElBgFy0DwQQ" class="fancybox-media" data-fancybox-group="TECHx Videos">
                        <div class="icon"><span><img src="images/speakers/biro.png" width="100" alt="Person"></span></div>
                        <h3>Biro Condé</h3>
                        <p>MONETIZING AFRICA’S DIGITAL ECONOMY</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=MEWtRB9jksk" class="fancybox-media" data-fancybox-group="TECHx Videos">
                        <div class="icon"><span><img src="images/speakers/nathaniel.png" width="100" alt="Person"></span></div>
                        <h3>Nathaniel Parr</h3>
                        <p>NO ONE CARES ABOUT YOUR PASSION AND THAT’S OKAY</p>
                    </a>
                    <br/>
                </div>
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=z-dh56mCMHA" class="fancybox-media" data-fancybox-group="TECHx Videos">
                        <div class="icon"><span><img src="images/speakers/alex.png" width="100" alt="Person"></span></div>
                        <h3>Alex Flohr</h3>
                        <p>EMPATHY: A JOURNEY THROUGH DESIGN THINKING</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=EnaMIFUgL0s" class="fancybox-media" data-fancybox-group="TECHx Videos">
                        <div class="icon"><span><img src="images/speakers/bharat.png" width="100" alt="Person"></span></div>
                        <h3>Bharat Sanders</h3>
                        <p>IGNITING A WILDFIRE OF HOPE</p>
                    </a>
                    <br/>
                </div>
                <div class="box to-animate">
                    <a href="https://www.youtube.com/watch?v=oUUr-ko-ndY" class="fancybox-media" data-fancybox-group="TECHx Videos">
                        <div class="icon"><span><img src="images/speakers/jason.png" width="100" alt="Person"></span></div>
                        <h3>Jason Gupta</h3>
                        <p>IS CONFIDENCE FOR EVERYONE?</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="fh5co-team" data-section="team">
    <div class="container">
        <div class="row row-bottom-padded-sm" id="team">
            <div class="col-md-12 section-heading text-center to-animate">
                <h2>MEET THE TEAM</h2>
            </div>
            <div class="col-md-12">
                <div class="row row-bottom-padded-lg">
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/sanaajani.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Sana Ajani</h3>
                            <div class="position">Co-Director</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/yamininambiar.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Yamini Nambiar</h3>
                            <div class="position">Co-Director</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/meera.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Meera Rajagopalan</h3>
                            <div class="position">Marketing</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/chloebelangia.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Chloe Belangia</h3>
                            <div class="position">Marketing</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/indra.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Indra Sofian</h3>
                            <div class="position">Marketing</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/thusharamudireddy.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Thushara Mudireddy</h3>
                            <div class="position">Finance</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/sean.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Sean Sain</h3>
                            <div class="position">Finance</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/christine.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Christine Hsieh</h3>
                            <div class="position">Finance</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/ruilongma.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Ruilong Ma</h3>
                            <div class="position">Speakers</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/alimac.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Ali Mac Jinks</h3>
                            <div class="position">Speakers</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/chrislarkins.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Christopher Larkins</h3>
                            <div class="position">Speakers</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/hannah.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Hannah Tam</h3>
                            <div class="position">Speakers</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/lynette.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Lynette To</h3>
                            <div class="position">Logistics</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/max.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Max Kaplan</h3>
                            <div class="position">Logistics</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/person.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Ingrid Cai</h3>
                            <div class="position">Logistics</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/bhargava.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Bhargava Samanthula</h3>
                            <div class="position">Logistics</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/person.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Miyeon Bae</h3>
                            <div class="position">Design</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/buu.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">KimBuu Dang</h3>
                            <div class="position">Design</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/person.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Cathy Tseng</h3>
                            <div class="position">Design</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/tim.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Tim Felbinger</h3>
                            <div class="position">Production</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/mairaj.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Mairaj Manji</h3>
                            <div class="position">Production</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/akshay.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Akshay Easwaran</h3>
                            <div class="position">Website</div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center to-animate">
                        <div class="person">
                            <img src="images/team/chriswaites.jpg" class="img-responsive img-rounded" alt="Person">
                            <h3 class="name">Chris Waites</h3>
                            <div class="position">Website</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--<div id="fh5co-past" data-section="past">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12 section-heading text-center">-->
                <!--<h2 class="single-animate animate-past-1">PAST SPEAKERS</h2>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-8 col-md-offset-2 subtext single-animate animate-past-2">-->
                        <!--<h3>Check out these awesome friends of Georgia Tech and the local community who spoke at our event in April 2014. They were handpicked for their passion, brilliance, and ongoing impact.</h3>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-12">-->
                <!--<div class="row row-bottom-padded-lg">-->
                    <!--<div class="col-md-3 text-center to-animate">-->
                        <!--<div class="person">-->
                            <!--<a href="https://www.linkedin.com/pub/aaron-blacker/69/423/844"><img src="images/speakers/past/aaron.jpg" class="img-responsive img-rounded" alt="Person">-->
                                <!--<h3 class="name">Aaron Blacker</h3></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 text-center to-animate">-->
                        <!--<div class="person">-->
                            <!--<a href="http://www.aaroncoury.com/"><img src="images/speakers/past/aaronc.jpg" class="img-responsive img-rounded" alt="Person">-->
                                <!--<h3 class="name">Aaron Coury</h3></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 text-center to-animate">-->
                        <!--<div class="person">-->
                            <!--<a href="http://www.bcserna.com/"><img src="images/speakers/past/bc.jpg" class="img-responsive img-rounded" alt="Person">-->
                                <!--<h3 class="name">BC Serna</h3></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 text-center to-animate">-->
                        <!--<div class="person">-->
                            <!--<a href="http://www.freedominfashion.com/"><img src="images/speakers/past/steen.jpg" class="img-responsive img-rounded" alt="Person">-->
                                <!--<h3 class="name">Steen Jones</h3></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 text-center to-animate">-->
                        <!--<div class="person">-->
                            <!--<a href="http://www.frogsneedourhelp.org/"><img src="images/speakers/past/mark.jpg" class="img-responsive img-rounded" alt="Person">-->
                                <!--<h3 class="name">Mark Mandica</h3></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 text-center to-animate">-->
                        <!--<div class="person">-->
                            <!--<a href="http://thelowmuseum.com/"><img src="images/speakers/past/past.jpg" class="img-responsive img-rounded" alt="Person">-->
                                <!--<h3 class="name">Pastiche Lumumba</h3></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 text-center to-animate">-->
                        <!--<div class="person">-->
                            <!--<a href="http://spinepains.com/?q=providers/vk-puppala-md/"><img src="images/speakers/past/vk.jpg" class="img-responsive img-rounded" alt="Person">-->
                                <!--<h3 class="name">VK Puppala</h3></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div id="fh5co-sponsors" data-section="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="single-animate animate-press-1">SPONSORS</h2>
                <div class="row row-bottom-padded-lg">
                    <div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
                        <h3>Thanks to all of our 2017-18 sponsors for their support!</h3>
                    </div>
                    <div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
                        <h3>Interested in being a sponsor? Check out the <a href="downloads/sponsorship-package-2017-2018.pdf">benefits</a> and <a href="mailto:tedxgeorgiatech@gmail.com?Subject=Hey%20TEDxGeorgiaTech!%20I%20want%20to%20be%20a%20sponsor!">email</a> us!</h3>
                    </div>
                </div>
                <div class="row row-bottom-padded-md">
                    <div class="col-md-6 text-center single-animate animate-press-2 row-bottom-padded-sm">
                        <img src="/images/sponsors/buzzcard.png" class="img-responsive"/>
                    </div>
                    <div class="col-md-6 text-center single-animate animate-press-2 row-bottom-padded-sm">
                        <img src="/images/sponsors/garage.png" class="img-responsive"/>
                    </div>
                </div>
                <div class="row row-bottom-padded-md">
                    <div class="col-md-6 text-center single-animate animate-press-2 row-bottom-padded-sm">
                        <img src="/images/sponsors/parentsfund.png" class="img-responsive"/>
                    </div>
                    <div class="col-md-6 text-center single-animate animate-press-2 row-bottom-padded-sm">
                        <img src="/images/sponsors/sga.png"/>
                    </div>
                </div>
                <div class="row row-bottom-padded-md">
                    <div class="col-md-6 text-center single-animate animate-press-2 row-bottom-padded-sm">
                        <img src="/images/sponsors/sweethut.png" class="img-responsive"/>
                    </div>
                    <div class="col-md-6 text-center single-animate animate-press-2 row-bottom-padded-sm">
                        <img src="/images/sponsors/turner.png" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-contact" data-section="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="single-animate animate-press-1">CONTACT</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
                        <h3>Questions? Comments? Let us know by emailing us at <a href="mailto:tedxgeorgiatech@gmail.com?Subject=Hey%20TEDxGeorgiaTech!">tedxgeorgiatech@gmail.com</a></h3>
                    </div>
                </div>
                <br/>
                <ul class="social social-circle single-animate animate-press-2">
                    <li><a href="https://twitter.com/TEDxGeorgiaTech"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/TEDxGeorgiaTech"><i class="icon-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/tedxgt/"><i class="icon-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/27183099/"><i class="icon-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row row-bottom-padded-sm">
            <div class="col-md-12">
                <p class="copyright text-center">&copy; 2017 Georgia Tech. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Owl Carousel -->
<script src="/js/owl.carousel.min.js"></script>

<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-thumbs.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>

<!-- Main JS (Do not remove) -->
<script src="/js/main.js"></script>

<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-75211006-1', 'auto');
    ga('send', 'pageview');

</script>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us6.list-manage.com","uuid":"9ffba6f98cb8657e54ac9be03","lid":"ebb9b7fd65"}) })</script>

</body>

</html>
